@import url("https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Kufam";
  font-weight: 600;
}

footer {
  color: #fff;
  background-color: #1b1b1b;
}

footer a {
  color: #e91e63;
  text-decoration: none;
}

footer a:hover {
  color: #ab0a41;
}

.formulario {
  background-color: #f0f2f5;
  border: 2px solid #dae0e5;
}

/* Le saco los bordes al toggler */

.navbar-light .navbar-toggler,
.navbar-light .navbar-toggler:focus,
.navbar-light .navbar-toggler:active {
  outline: none;
  box-shadow: none;
  padding: 0;
  border: 0;
}

/* Formulario de Contacto */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.form-signin textarea {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
